@font-face {
	font-family: "LemonMilk";
	src:  url("../assets/LemonMilk.otf");
}

html, body {
	height: 100%;
	width: 100%;
}

#header-img {
	max-height: 80%;
	max-width: 100%;
	vertical-align: middle;
}

body {
	margin: 0;
	text-align: center;
	font-family: "LemonMilk";
	color: white;
	
	background-color: #824DFF;
	transition: background-color 0.5s;
}
section {
	margin: 0 10px;
}
hr {
	border: 1px dashed white;
    opacity: 0.1;
}
p {
	font-family: "Open Sans", sans-serif;
	text-align: justify;
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
}
footer {
	font-size: 0.7em;
	margin: 15px 0;
}
footer p {
	text-align: center;
}
abbr {
	border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

#first-page {
	height: 100%;
}
@keyframes pulse {
    0% { opacity: 0.6; }
    50% { opacity: 1; }
    100% { opacity: 0.6; }
}
#first-page::after {
	content: "\25BC";
	font-size: 1.3em;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    width: 24px;
    left: calc(50% - 12px);
	/*animation: pulse 3s ease-in-out;*/
	animation-iteration-count: infinite; 
    opacity: 0.5;
	transition: opacity 0.5s;
}
#first-page.hide-scroll-indicator::after {
	animation: none;
	opacity: 0;
}

@media screen and (min-width: 35.5em) {
	#info, #sponsors::before {
		margin: 0;
		background-image: url("../assets/SleepingBear.svg");
		background-repeat: no-repeat;
		background-size: 25%;
		background-position: right top;
	}
	#sponsors::before {
		/* Required to mirror the background image to the other side */
		position: absolute;
		right: 0;
		content: "";
		display: block;
		width: 100vw;
		/* SVG height / width * background-size in vw  */
		height: calc(530 / 932 * 25vw);
		transform:scaleX(-1);
	}
}

#applyPage {
	height: 75%;
}
#applyPage > svg {
	height: calc(100% - 50px);
    width: calc(100% - 20px);
    margin: 50px 10px 0 10px;
}

#applyGroup {
	cursor: pointer;
}

.bounceGroup { /*remove #applyGroup after merge*/
	cursor: pointer;
}

iframe.map {
	width: 100%;
	max-width: 550px;
	height: 400px;
}

table {
	margin: 0 auto;
	font-size: 1.4em;
	border-collapse: separate;
    border-spacing: 0 5px;
}
thead > tr > td {
	background: white;
    color: #333;
    padding: 2px 10px;
}
/* Schedule times */
tbody td:nth-child(1) {
	text-align: right;
	min-width: 100px;
	padding-right: 10px;
}
/* Schedule descriptions */
td:nth-child(2) {
	font-family: "Open Sans", sans-serif;
}

section > h1 {
	letter-spacing: 2px;
}
#details {
	font-size: 2em;
	letter-spacing: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
#faq li > strong {
	letter-spacing: 1px;
}
#faq > ul {
	list-style-type: none;
	margin: 0 auto;
    padding: 0;
    max-width: 550px;
}

.social > a {
	display: inline-block;
    margin: 10px;
    padding: 0;
    border: none;
    background: none;
    vertical-align: middle;
    position: relative;
    width: 40px;
    height: 40px;
    color: #fff !important;
    border-radius: 50%;
    transition: all 0.3s;
	text-decoration: none;
}
.social > a > i {
	font-size: 16px;
    width: 22px;
    line-height: 40px;
}
.social > a.twitter {
	background: #55acee;
}
.social > a.facebook {
	background: #3b5998;
}
.social > a.email {
	background: #ed77d8;
}
.social > a.github {
	background: #333;
	border: 1px solid #999;
}

#sponsors {
	margin: 0;
}
.sponsor-group {
	display: flex;
	flex-flow: row nowrap;
	max-width: 100%;
	overflow: auto;
	padding: 10px 0;
}
.sponsor-group::before, .sponsor-group::after {
	content: "";
	margin: auto;
}
.sponsor {
	display: inline-block;
	width: 128px;
    height: 180px;
	padding: 0 20px;
	transform: scale(1);
    transition: .3s;
}
.sponsor:hover {
	transform: scale(1.05);
}
.sponsor img {
	width: 128px;
    height: 128px;
}

a:link, a:visited {
    color: white;
    font-weight: bold;
}

.button {
	display: inline-block;
	padding: 0 .5em;
	border: solid white 0.25em;
	border-radius: 0.25em;
	background-color: rgba(255, 255, 255,0);
	background-color: white;
	/*height:10px;*/
	/*width:50px;*/
	cursor:pointer;
	color: white;
	font-weight: bold;
	/*padding: 0;*/
	/*margin: 0;*/
	overflow: hidden;
	position: relative;

}

.button::after {
	content: "";
	/*height: 100%;*/
	/*width: 100%;*/
	width: 100%;
	height: 100%;
	background-color: #F783CF;
	position: absolute;
	left: -100%;
	top: 0;
	transition: 0.5s all;
	z-index: 0;
}

.button > h3 > a:visited, .button > h3 > a:link {
	z-index: 1;
	text-decoration: none;
	color: #F783CF;
}

.button:hover > h3 > a:visited, .button:hover > h3 > a:link {
	color: white;
}

.button:hover::after {
	left: 0;
}


.button > h3 {
	font-size: 1em;
	padding: 0;
	margin: 0;
}

.button > h3 > a {
	position: relative;
	z-index: 1;
	transition: 0.5s all;
}